/**
 * Synth 3d - Sing Template Overrides 
 */

:root { 
    --color-1: 		    #242424;
    --color-2: 			#aaaaaa;
    --color-3:          #313131;
    --bg-color:			var(--color-3);
}

 body { 	font-family: 'Open Sans', sans-serif; font-weight:300; }
 
  #sidebar_header { display:none;}
  #menu_about { display:none;}
  
  .navmenu { background-color: #242424 !important;}
 
  /*.accordion-header { background-color:#242424;}*/
  .accordion > h3 { line-height: 35px; font-family: 'Open Sans', sans-serif; font-size:14px;}
  .accordion { color: var(--color-2);}
  .accordion > h3:hover{ background-color:#000 !important;color:#f2be35;}
  
  #navigation img { height:43px !important; width:43px !important;}
  #tools img { height:40px !important; width:40px !important; margin-right:3px;}
 
  .ui-widget { font-family:  'Open Sans', sans-serif !important;}
 
  /* Style the sliders */
  #sldPointBudget, #sldFOV, #sldEDLRadius, #sldEDLStrength, #sldMoveSpeed  {
      background-color:#2196F3/*#5d8fc2*/ !important;
      border-radius: 5px;
      border: none;
      height:3px;
      margin-top: 8px;
 }
 
 .ui-slider { height:5px;}
 /*
 .ui-slider .ui-slider-handle {
     height: 9px !important;
     margin-top: 4px;
     border:1px solid #fff !important;
     background:#fff !important;
     touch-action: none;
 }*/
 
 .ui-state-hover { border: 1px solid #fff !important;}
 
 .ui-slider-handle {
     top:-0.5em !important;
     position: absolute;
     width: 26px;
     height: 26px;
     background-color: #fff !important;
     background-image: none;
     box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 3px rgba(0,0,0,.5);
     border: 0 solid transparent !important;
     border-radius: 50% !important;
 }
 .ui-slider-handle {
     position: absolute;
     width: 20px;
     height: 20px;
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
     filter: none;
     -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
     box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
     border: 0 solid transparent;
 }
 
 
 /* Add FontAwesome icons to the accordion headers */
 #menu_appearance, #menu_tools, #menu_measurements, #menu_scene, #menu_classification { position:relative; }    
 #menu_appearance:before, #menu_tools:before, #menu_measurements:before, #menu_scene:before, #menu_classification:before { font-family: FontAwesome; left:7px; position:absolute; top:5px; }
 #menu_appearance:before {  content: "\f108";  /* fa-desktop */ }
 #menu_tools:before { content: "\f0ad";  /* fa-wrench */ }
 #menu_measurements:before { content: "\f044";  /* fa-edit */ }
 #menu_scene:before { content: "\f0c2";  /* fa-cloud */ }
 #menu_classification:before { content: "\f0b0";  /* fa-filter */ }
 
 
 /* Style the background radio buttons */
 /* --------------------------------------------------------------------------------------*/
 /* The container */
 .background-container {
     display: block;
     position: relative;
     padding-left: 25px;
     margin-bottom: 10px;
     cursor: pointer;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }
 
 /* Hide the browser's default radio button */
 .background-container input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
 }
 
 /* Create a custom radio button */
 .background-container .checkmark {
     position: absolute;
     top: 0;
     left: 0;
     height: 19px;
     width: 19px;
     background-color: #eee;
     border-radius: 50%;
 }
 
 /* On mouse-over, add a grey background color */
 .background-container:hover input ~ .checkmark {
     background-color: #ccc;
 }
 
 /* When the radio button is checked, add a blue background */
 .background-container input:checked ~ .checkmark {
     background-color: #2196F3;
 }
 
 /* Create the indicator (the dot/circle - hidden when not checked) */
 .background-container .checkmark:after {
     content: "";
     position: absolute;
     display: none;
 }
 
 /* Show the indicator (dot/circle) when checked */
 .background-container input:checked ~ .checkmark:after {
     display: block;
 }
 
 /* Style the indicator (dot/circle) */
 .background-container .checkmark:after {
      top: 6px;
     left: 6px;
     width: 7px;
     height: 7px;
     border-radius: 50%;
     background: white;
 }
 
 /* Style the checkboxes */
 /* --------------------------------------------------------------------------------------*/
 /* The container */
 .checkbox-container {
     display: block;
     position: relative;
     padding-left: 25px;
     margin-bottom: 8px;
     cursor: pointer;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }
 
 /* Hide the browser's default checkbox */
 .checkbox-container input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
 }
 
 /* Create a custom checkbox */
 .checkbox-container .checkmark {
     position: absolute;
     top: 0;
     left: 0;
     height: 19px;
     width: 19px;
     background-color: #eee;
 }
 
 /* On mouse-over, add a grey background color */
 .checkbox-container:hover input ~ .checkmark {
     background-color: #ccc;
 }
 
 /* When the checkbox is checked, add a blue background */
 .checkbox-container input:checked ~ .checkmark {
     background-color: #2196F3;
 }
 
 /* Create the checkmark/indicator (hidden when not checked) */
 .checkbox-container .checkmark:after {
     content: "";
     position: absolute;
     display: none;
 }
 
 /* Show the checkmark when checked */
 .checkbox-container input:checked ~ .checkmark:after {
     display: block;
 }
 
 /* Style the checkmark/indicator */
 .checkbox-container .checkmark:after {
     left: 5px;
     top: 2px;
     width: 5px;
     height: 10px;
     border: solid white;
     border-width: 0 3px 3px 0;
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     transform: rotate(45deg);
 }
 
 .checkbox-container i { font-style:normal;}
 
 
 
 /* Add spaces before numeric values */
 /* --------------------------------------------------------------------------------------*/
 #lblPointBudget:before, #lblFOV:before, #lblEDLRadius:before, #lblEDLStrength:before { content: ' ';}